.contact-form-wrapper {
  background: #22223B;
}

.contact-form-container {
  min-height: calc(100vh);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form-header-text {
  text-align: center;
  color: #FFFFFF;
}

.contact-form {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}

.contact-form-label {
  text-align: start;
  color: #FFFFFF;
  margin-top: 2% ;
  margin-bottom: 1%;
}

.contact-form--input {
  padding: 1em;
  border: 2px solid #22223b;
  outline: none;
  border-radius: 0.25em;
}

.contact-form--input:focus {
  border: 2px solid #f88e00;
}

.contact-form--input + .contact-form--input {
  margin-top: 2em;
}

#contact-form > textarea {
  height: 10em;
}

.contact-form-btn {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  border: none;
  background-color: #F88E00;
  color: #FFFFFF;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.contact-form-btn:hover {
  background-color: rgb(221, 125, 0);
}

.contact-form-error {
  color: #F88E00;
  padding: 0.5em 0;  
}

@media only screen and (min-width: 1000px) {
  .contact-form-container {
    max-width: 60%;
    margin: 0 auto;
  }
}

