@import "./About.scss";
@import "./ContactForm.scss";
@import "./Nav.scss";
@import "./Slack.scss";
@import "./UpcomingEvent.scss";
@import "./NoMatch.scss";
@import './Randomizer.scss';
@import './Timer.scss';
@import './Utilities.scss';
@import './Modal.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.shader {
  width: 100%;
  background: linear-gradient(171deg, #FFFFFF, #FBFBFB, #808080);
}
