@import "./About.scss";
@import "./ContactForm.scss";
@import "./Nav.scss";
@import "./Slack.scss";
@import "./UpcomingEvent.scss";
@import "./NoMatch.scss";
@import './Randomizer.scss';
@import './Timer.scss';
@import './Utilities.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}
