.timer-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .window {
        min-width: 300px;
        border: 1px black solid;
        padding: 10px;

        .title-bar {
            padding-bottom: 5px;
            border-bottom: 1px black solid;
        }

        .form-wrapper {
            padding-top: 5px;

            .field-row {
                display: flex;
            }
        }

        .countdown-display {
            background-color: black;
            color: red;
            font-size: 4.5em;
            padding: 5px;
            text-align: center;
        }

        .window-button-wrapper {
            padding-top: 10px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
